/* Page Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color:black;
    font-size: 15px;
}

/* Global Elements */

.body-container {
    width: 90%;
    max-width: 1175px;
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

/* Cookies Banner */

.cookies-banner {
    width: 100%;
    background-color: rgba(211, 211, 211, 0.25);
    margin: 0 auto;
    font-size: 13px;
}

.cookies-content {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px 0;
}

.cookies-content div {
    display: flex;
}

.cookies-content img {
    width: 25px;
    height: 25px;
    filter: opacity(80%);
    margin: 12px;
}

.cookies-content > div > p {
    width: 88%;
}

.cookies-content div:nth-of-type(2) {
    justify-content: space-around;
    flex-basis: 40%;
    flex-wrap: nowrap;
    padding: 0 10px;
}

.cookies-content button {
    margin: 0 5px;
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #EBEBEB;
    font-size: 14px;
}

.cookies-content button:hover {
    cursor: pointer;
    box-shadow: -.5px 4px 7px 2px rgba(0, 0, 0, .2), inset 0 0 0 50px rgba(104, 103, 103, 0.1);
}

/* Dialog and Background Div Overlay */

dialog::backdrop {
    background-color: white;
    opacity: 50%;
}

dialog[open] {
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: auto;
    padding: 40px 40px;
    border: 1px solid blue;
    font-size: 1rem;
    height: 700px;
}

dialog .close-dialog {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 10px;
    border: none;
    background: none;
}

dialog .close-dialog:hover {
    cursor: pointer;
}

.manage-cookies div:first-of-type {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.manage-cookies div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.manage-cookies div:last-of-type button {
    flex-basis: 49%;
    padding: 8px;
    border: none;
    margin-top: 20px;
    background-color: #EBEBEB;
}

.manage-cookies div:last-of-type button:last-of-type {
    background-color: #0067B8;
    color: white;
}

.manage-cookies div:last-of-type button:last-of-type:disabled {
    background-color: rgba(0, 120, 215, 0.2);
    color: rgba(0, 0, 0, 0.2);
}

.manage-cookies div:last-of-type button:hover {
    box-shadow: -.5px 4px 7px 2px rgba(0, 0, 0, .2), inset 0 0 0 50px rgba(104, 103, 103, 0.1);
}

.manage-cookies div:last-of-type button:disabled {
    opacity: 90%;
    cursor: not-allowed;
    box-shadow: none;
}

dialog fieldset {
    border: none;
}

dialog fieldset input:checked {
    border: 5px solid black;
}

dialog h4 {
    margin-top: 25px;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    /* padding: 18px 0px; */
    font-size: 13px;
}

.hamburger_button {
    display: none;
}

nav img[src*="https"] {
    margin-left: 10px;
    padding-right: 10px;
    width: 120px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    padding-left: 10px;
    height: 100%;
    align-items: center;
}

nav ul li {
    padding: 0 10px;
}

nav ul li:last-of-type {
    margin-left: auto;
    /* padding-right: 30px; */
}

nav ul li a {
    text-decoration: none;
    color:rgb(36, 35, 35);
}

nav ul li a:hover {
    border-bottom: 2px solid rgb(36, 35, 35);
    padding-bottom: 3px;
    color:rgb(36, 35, 35);
}

nav #all_microsoft, nav #more_dropdown {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

nav #all_microsoft:hover a:first-of-type, nav #more_dropdown:hover a:first-of-type {
    border-bottom: 2px solid rgb(36, 35, 35);
    padding-bottom: 3px;
}

.clicked {
    border: 1px dashed black;
    background-color: rgba(240, 240, 240);
}

nav #all_microsoft .all_micro_content > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

nav #all_microsoft > a , nav #more_dropdown > a{
    padding-bottom: 3px;
    padding-right: 5px;
    height: 20px;
}

nav #all_microsoft > img, #more_dropdown > img {
    width: 10px;
    transform: rotate(270deg);
}

.all_micro_content {
    /* display: block; */
    display: none;
    position: absolute;
    background-color:rgba(240, 240, 240);
    border: 1px solid rgba(225, 225, 225, 0.8);
    border-bottom: 2px solid black;
    width: 94vw;
    margin: 0 auto;
    box-sizing: border-box;
    top: 50px;
    /* top: -1000px; */
    right: -180px;
    /* opacity: 0; */
    transition: opacity .2s;

}

.all_micro_content .footer-column {
    display: block;
    padding-top: 20px;
    min-width: 200px;
    flex-basis: 200px;
}

.footer-column > li {
    padding-bottom: 40px;
}

.footer-column a li {
    padding-bottom: 30px
}

.footer-column a:hover {
    text-decoration: underline;
}

.all_micro_content .go-to-sitemap {
    width: 100%;
    padding: 10px 0px;
    border: none;
    background-color:rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
}

.go-to-sitemap img {
    width: 15px;
    transform: rotate(180deg);
    font-size: .5rem;
}

/* Nav Right Icons */

nav div .nav-icons-right {
    display: inline-block;
}

.nav-icons-right img {
    display: inline-block;
    width: 25px;
    margin: 0 10px;
}

/* Nav More Dropdown */

nav #more_dropdown {
    position: relative;
    display: none;
}

nav .more_div {
    position: absolute;
    top: 50px;
    left: -1px;
    flex-direction: column;
    background-color:rgba(240, 240, 240);
    border: 1px solid rgba(225, 225, 225, 0.8);
    border-bottom: 2px solid black;
    width: 300%;
    padding: 0 20px;
}

nav .more_div div {
    padding: 20px 0;
}

.more_div.more_1 {
    display: none;
}

.more_div.more_2 {
    display: none;
}

/* Showcase */

.showcase {
    width: 100%;
    height: 425px;
    background-image: url(/images/showcase.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 0 75px;
}

.showcase h2, .showcase p, .showcase div {
    width: 40%;
}

.showcase h2 {
    margin-bottom: 10px;
    font-weight: 500;
}

.showcase .btn {
    width: 160px;
    padding: 10px 5px;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.showcase .btn a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase .btn img {
    width: 20px;
    filter: invert();
}

/*Link Cards*/

.linkcards {
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin: 60px auto;
}

.linkcards .card {
    /*flex-basis: 16%;*/
    width: 184px;
    padding: 10px 0;
}

.linkcards .card img {
    width: 40px;
    padding-bottom: 5px;
}

.card a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: .9em;
}

.card a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.card a:active {
    border: black 2px solid;
}

.card a h3 {
    width: 75%;
}

/* Image Cards 1 */

.image-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-gap: 25px;
    margin-bottom: 30px;
}

.image-cards .imgcard h2{
    padding-top: 30px;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    font-size: 20px;
}

.image-cards .imgcard img {
    width: 100%;
}

.image-cards .imgcard img.imgcardarrow {
    width: 24px;
    filter: invert(30%) sepia(89%) saturate(6133%) hue-rotate(235deg) brightness(99%) contrast(93%);
}

.imgcard a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    opacity: .75;
    padding: 10px 0;
}

.imgcard:nth-of-type(1) p{
    width: 90%;
}

/* Showcase 2 */

.showcase-two {
    width: 100%;
    height: 425px;
    background-image: url(/images/controllers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 0 75px;
    margin-bottom: 50px;
}

.showcase-two h2, .showcase-two p, .showcase-two div {
    width: 40%;
}

.showcase-two h2 {
    margin-bottom: 10px;
    font-weight: 500;
}

.showcase-two .btn {
    width: 160px;
    padding: 10px 5px;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.showcase-two .btn a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-two .btn img {
    width: 20px;
    filter: invert();
}

/* Image Cards 2 */

.container h2#businessheader {
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 24px;
}

.image-cards .imgcard .newicon {
    display: inline-block;
    background-color: gold;
    margin-top: 10px;
    padding: 3px 15px;
    font-size: .9em;
    letter-spacing: .06em;
    margin-bottom: 5px;
}

.image-cards .imgcard .newicon+h2 {
    padding-top: 0px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    font-size: 20px;
}

.imgcard:nth-of-type(2) h2, p{
    width: 95%;
}

.imgcard:nth-of-type(2) h2, .imgcard:nth-of-type(4) h2 {
    line-height: 1.2em;
}

/* Social Area */

.container .socialarea {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.container .socialarea h4 {
    font-weight: normal;
    opacity: .6;
    padding-right: 5px;
}

.socialarea .social-icon {
    width: 28px;
    margin: 0 8px;
}

/* Sitemap Footer */

footer {
    background-color: rgba(230, 228, 228, 0.712);
    color: rgb(95, 95, 95);
}

footer a, footer li {
    font-size: 12px;
    padding: 8px 0;
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .sitemap {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 30px 0;
}

.sitemap ul {
    list-style-type: none;
}

.sitemap .footer-column a:first-child li {
    font-weight: 600;
    font-size: 15px;
}

.sitemap .footer-column a:first-child:hover {
    text-decoration: none;
    cursor: default;
}

.sitemap ul:nth-of-type(3) a:nth-of-type(7) li {
    width: 75%;
}

/* Language and Copyright*/

footer .language-copyright {
    padding-bottom: 10px;
}

footer .language-copyright ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

footer .language-copyright ul a:first-of-type li::before {
    content: url(/images/globe.svg) '';
    display: inline-block;
    vertical-align: middle;
    padding-right: 8px;
}

footer .language-copyright ul a:first-child li {
    padding-right: 5px;
}

/*Media Queries*/

@media (max-width: 1000px) {
    .container:nth-of-type(2) {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .container:nth-of-type(1) {
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }

    .showcase {
        width: 100%;
        height: 525px;
        background-image: url(/images/showcase.png);
        background-repeat: no-repeat;
        background-size: auto;
        padding: 120px 0 0 75px;
    }

    .image-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-gap: 25px;
        margin-bottom: 30px;
    }

    .showcase-two {
        width: 100%;
        height: 525px;
        background-image: url(/images/controllers.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        padding: 120px 0 0 75px;
        margin-bottom: 50px;
    }

    .container:nth-of-type(5) {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    footer .sitemap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 30px 0;
    }

    /* Nav More Dropdown */
    nav .main-nav {
        display: flex;
    }

    nav .main-nav li:nth-of-type(6), nav .main-nav li:nth-of-type(7) {
        display: none;
    }

    nav #more_dropdown {
        display: flex;
    }
}

@media (max-width: 955px) {

    /* Nav More Dropdown */

    nav .main-nav {
        display: flex;
    }

    nav .main-nav li:nth-of-type(5), nav .main-nav li:nth-of-type(6), nav .main-nav li:nth-of-type(7) {
        display: none;
    }

    nav #more_dropdown {
        display: flex;
    }
}

@media (max-width: 900px) {

    .body-container, .container:nth-of-type(1) {
        width: 100%;
    }

    nav {
        position: relative;
    }

    nav .nav-icons-right {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    nav .nav-icons-right a:first-of-type {
        margin-right: auto;
    }

    nav .main-nav li:nth-of-type(5), nav .main-nav li:nth-of-type(6), nav .main-nav li:nth-of-type(7) {
        display: list-item;
    }

    .hamburger_button{
        display: block;
        /* position: absolute; */
        padding: 1px;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
    }

    .hamburger_button > input {
        border: 1px dashed black;
        width: 100%;
        height: 100%;
        opacity: 25%;
    }

    nav img[src*="https"] {
        position: absolute;
        margin: 0 40vw;
        padding: 0;
    }

    nav ul.main-nav {
        list-style-type: none;
        position: absolute;
        top: 55px;
        /* display: flex; */
        display: none;
        flex-direction: column;
        flex: 1;
        padding-left: unset;
        height: unset;
        width: 100%;
        align-items: flex-start;
        background-color:rgba(240, 240, 240);
        border: 1px solid rgba(225, 225, 225, 0.8);
        border-bottom: 2px solid black;
        font-size: 1rem;
    }

    nav ul li, .main-nav div {
        padding: 1rem 15px;
        border-bottom: 1px solid rgba(225, 225, 225, 0.8);
        width: 100%;
    }

    .main-nav img {
    width: 10px;
    transform: rotate(270deg);
    }

    .main-nav > div {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .main-nav div .go-to-sitemap {
        border-bottom: 1px solid rgba(225, 225, 225, 0.8);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .main-nav div div {
        opacity: 0%;
        position: absolute;
    }

    nav #more_dropdown {
        display: none;
    }

    nav #all_microsoft {
        display: none;
    }

    nav ul li:hover, .main-nav div:hover {
        cursor: pointer;
    }

    nav ul li a:hover {
        border-bottom: unset;
        padding-bottom: unset;
        color: unset;
    }
}